BDEPEND=app-alternatives/tar app-arch/xz-utils
DEFINED_PHASES=compile install unpack
DEPEND=ncurses? ( sys-libs/ncurses ) gtk? ( gnome-base/libglade:2.0 x11-libs/gtk+:2 ) qt5? ( dev-qt/qtcore:5 dev-qt/qtgui:5 dev-qt/qtwidgets:5 )
DESCRIPTION=A configuration database tool.
EAPI=8
HOMEPAGE=https://www.kernel.org
INHERIT=unpacker
IUSE=ncurses gtk qt5
KEYWORDS=amd64
LICENSE=GPL-2
RDEPEND=ncurses? ( sys-libs/ncurses ) gtk? ( gnome-base/libglade:2.0 x11-libs/gtk+:2 ) qt5? ( dev-qt/qtcore:5 dev-qt/qtgui:5 dev-qt/qtwidgets:5 )
SLOT=0
SRC_URI=https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.12.31.tar.xz
_eclasses_=multiprocessing	1e32df7deee68372153dca65f4a7c21f	toolchain-funcs	a6df79c1e9bc84369dbf3d44206ac772	unpacker	3b4ee72d1e2e0374fd8cd3eddfa00627
_md5_=efa6dc9ef9702d1ffa8636392e05edd6
