BDEPEND=app-alternatives/tar app-arch/xz-utils
DEFINED_PHASES=compile install unpack
DEPEND=ncurses? ( sys-libs/ncurses ) gtk? ( gnome-base/libglade:2.0 x11-libs/gtk+:2 ) qt5? ( dev-qt/qtcore:5 dev-qt/qtgui:5 dev-qt/qtwidgets:5 )
DESCRIPTION=A configuration database tool.
EAPI=8
HOMEPAGE=https://www.kernel.org
INHERIT=unpacker
IUSE=ncurses gtk qt5
KEYWORDS=amd64
LICENSE=GPL-2
RDEPEND=ncurses? ( sys-libs/ncurses ) gtk? ( gnome-base/libglade:2.0 x11-libs/gtk+:2 ) qt5? ( dev-qt/qtcore:5 dev-qt/qtgui:5 dev-qt/qtwidgets:5 )
SLOT=0
SRC_URI=https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.4.7.tar.xz
_eclasses_=multiprocessing	30ead54fa2e2b5f9cd4e612ffc34d0fe	toolchain-funcs	edeef89edaf21d30225d31702ab117ac	multilib	c19072c3cd7ac5cb21de013f7e9832e0	unpacker	aa6a4e924009232d8b78b31e932c30b5
_md5_=ea98795b41a2b2991a0ba152a3e037ee
